body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    min-width: 1200px;
    background-color: #849d8f;
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.body-inner {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    min-width: 1200px;
    background-color: #849d8f;
    background-image: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9px;
}

.main-header-logo {
}

/* навигация */

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    width: 680px;
}

.site-navigation > li{
    position: relative;
    padding-bottom: 5px;
}

.site-navigation a {
    display: block;
    padding: 7px 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.navigation-item:hover > a {
    color: #323232;
    background-color: #f7f6f3;
    border-radius: 15px;
}

.navigation-item > a:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}

.navigation-item > a::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

.navigation-item > a:hover::after {
    background-color: transparent;
}

.navigation-item > a.nav-item-current {
    color: #ffffff;
    background-color: #d07058;
    border-radius: 15px;
}

.navigation-item:hover > a.nav-item-current {
    color: #ffffff;
    background-color: #d07058;
}

.navigation-item > a.nav-item-current::after {
    background-color: transparent;
}

/*  выпадающее меню  */

.site-navigation .catalog-dropdown {
    position: absolute;
    top: 37px;
    display: none;
    box-sizing: border-box;
    width: 143px;
    margin-left: -7px;
    padding: 0;
    list-style: none;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 10;
}

.navigation-item:hover .catalog-dropdown {
    display: block;
}

.catalog-dropdown a {
    padding: 8px 5px 8px 22px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    white-space: normal;
}

.catalog-dropdown a:hover {
    background-color: #fbded8;
    border-radius: 0;
}

.catalog-dropdown a:active {
    background-color: #f6b5a5;
}

.catalog-dropdown a.catalog-item-current {
    color: #ffffff;
    background-color: #d07058;
}

.catalog-dropdown .catalog-item-new {
    position: relative;
    padding-top: 11px;
    padding-bottom: 13px;
    font-weight: 700;
}

.catalog-dropdown .catalog-item-new::after {
    content: "";
    position: absolute;
    left: 6px;
    right: 9px;
    bottom: 0;
    height: 1px;
    background-color: rgba(53, 53, 53, 0.2);
}

/*  выпадающее меню  конец*/

.user-navigation {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
    max-width: 261px;
}

.user-navigation > li:not(:last-child) {
    padding-right: 10px;
}

.search-link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2) url("../img/loupe.svg") no-repeat center;
    background-size: 50%;
}

.user-navigation-search:hover .search-link {
    background: #f8f7f4 url("../img/loupe-dark.svg") no-repeat center;
}

.modal-search {
    display: none;
    width: 345px;
    height: 84px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-navigation-search:hover .modal-search {
    display: block;
}

.modal {
    background-color: #f8f7f4;
    border-radius: 10px;
    color: #323232;
    border-radius: 5px;
    box-shadow: 3px 5px 25px 3px #56645c;
    padding: 20px 25px 25px 25px;
}

.modal-search input,
.modal-login input {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
    width: 92px;
    height: 32px;
    background-color: #9eb3a8;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-link:hover,
.login-link:focus {
    color: #323232;
    background-color: #f8f7f4;
}

.login-link::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 15px;
    width: 20px;
    height: 19px;
    background-image: url("../img/enter1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    background-image: url("../img/enter2.svg");
}

.basket-link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
    width: 100px;
    height: 32px;
    background-color: #9eb3a8;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-link:hover,
.basket-link:focus {
    color: #323232;
    background-color: #f8f7f4;
}

.basket-link::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 15px;
    width: 21px;
    height: 20px;
    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.basket-link:hover::before,
.basket-link:focus::before,
.basket-link:active::before {
    background-image: url("../img/basket-red.svg");
}

.basket-link-full {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    text-decoration: none;
    width: 118px;
    height: 32px;
    background-color: #f8f7f4;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-link-full::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 15px;
    width: 21px;
    height: 20px;
    background-image: url("../img/basket-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-list {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.basket-total {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.modal-login {
    display: block;
    width: 280px;
    height: 215px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-login a {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
}

.modal-login a:hover,
.modal-login a:focus,
.modal-login a:active {
    color: #e84d37;
}

.header-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-hours {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.header-phone {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.breadcrumbs-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.page-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    order: 1;
    margin-top: 10px;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    margin-top: -25px;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    order: 0;
    display: flex;
}

.breadcrumbs li {
    padding-right: 20px;
    position: relative;
}

.breadcrumbs li:not(:last-child)::after {
    content: "»";
    position: absolute;
    right: 5px;
    color: #ffffff;
}

.breadcrumbs a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
    color: #ffbc9e;
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 880px;
    margin-bottom: 40px;
}

.slider {
    position: relative;
    padding-top: 270px;
}

.slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 35px;
}

.slide b {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}


.slider-navigation {
    list-style: none;
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.promotions-list {
    list-style: none;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.promo-wrapper {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.promo-wrapper h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.promo-wrapper p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
}

.promotions-list li:first-child {
    width: 560px;
    min-height: 230px;
    background-color: #a60929;
    background-image: url("../img/bg-raspberries.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.promotions-list li:last-child {
    width: 560px;
    min-height: 230px;
    background-color: #714530;
    background-image: url("../img/bg-chocolate.jpg");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-item {
    position: relative;
    width: 267px;
    margin-bottom: 35px;
}

.catalog-list .hit::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    top: 10px;
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 30;
}

.catalog-wrapper {
    text-align: center;
    margin-top: 10px;
    z-index: 25;
}

.catalog-item:hover .catalog-wrapper {
    position: absolute;
    width: 267px;
    top: -6px;
    left: -13px;
    padding: 6px 13px 20px 13px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 20;
}

.item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    top: 160px;
}

.item-kg {
    font-size: 30px;
}

.catalog-item:hover .item-price {
    top: 156px;
}

.item-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.item-title:hover,
.item-title:focus {
    border-bottom-color: transparent;
}

.catalog-item img {
    border-radius: 50%;
}

.description-shop {
    background-color: #eee1c6;
    background-image: url("../img/bg-wafer.jpg");
    color: #323232;
    width: 100%;
    margin-bottom: 40px;
    padding: 25px 20px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.description-shop h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.description-shop-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.description-shop-item {
    width: 540px;
    padding-left: 60px;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 7px;
}

.description-shop-list li:nth-child(1) {
    background-image: url("../img/ice-cream.svg");
    background-repeat: no-repeat;
}

.description-shop-list li:nth-child(2) {
    background-image: url("../img/cow.svg");
    background-repeat: no-repeat;
}

.description-shop-list li:nth-child(3) {
    background-image: url("../img/eco.svg");
    background-repeat: no-repeat;
}

.description-shop-list li:nth-child(4) {
    background-image: url("../img/thermometer.svg");
    background-repeat: no-repeat;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    align-items: flex-start;
}

.news-block {
    width: 560px;
    min-height: 220px;
    background-color: #ffffff;
    background-image: url("../img/bg-strawberry.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.news-block p {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: 500;
    margin-top: 0;
}

.news-block a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
}

.news-block a:hover,
.news-block a:focus {
    color: #e84d37;
}

.subscription-wrapper {
    width: 560px;
    min-height: 220px;
    background-color: #f8f7f4;
    background-image: url("../img/bg-post.svg");
    border-radius: 15px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.subscription {
    width: 550px;
    min-height: 210px;
    background-color: #f8f7f4;
    border-radius: 15px;
    color: #5a5a5a;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.subscription p {
    margin-top: 0;
}

.subscription-input {
    display: inline-block;
    padding-left: 14px;
    width: 368px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    margin-right: 7px;
}

.map {
    width: 100%;
    height: 430px;
    background-image: url("../img/map.jpg");
    background-size: cover;
}

.map-container {
    position: relative;
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.contacts::before {
    content: "";
    position: absolute;
    background-image: url("../img/pin.svg");
    width: 82px;
    height: 140px;
    top: 100px;
    left: -680px;
}

.contacts {
    position: absolute;
    top: 60px;
    right: 0;
    width: 302px;
    min-height: 305px;
    background-color: #fefefe;
    color: #323232;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 32px;
    padding-left: 25px;
    padding-right: 25px;
}

.contacts p {
    padding-top: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.big {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.modal-feedback {
    width: 480px;
    height: 440px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-feedback h2 {
    margin-top: 0;
    font-size: 24px;
    line-height: 28px;
}

.modal-basket {
    width: 540px;
    min-height: 140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.modal input,
.modal textarea {
    font: inherit;
    border: 1px solid  rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    color: #999999;
    padding: 15px;
    margin-bottom: 20px;
}

.modal input:focus,
.modal textarea:focus {
    border: 1px solid rgba(46, 136, 228, 0.52);
}

fieldset {
    border: none;
}

.button {
    display: block;
    background-image: linear-gradient(#f26843, #e74b36);
    box-shadow: 0 2px 2px 0 #9e4334;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 3px 3px #ca4e39;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.button:hover {
     background-image: linear-gradient(#ec6e5d, #f58669);
     box-shadow: 0 1px 2px #ac1000;
 }

.button:active {
    background-image: linear-gradient(#e1613e, #d74632);
    box-shadow: inset 0 2px 2px #942718;
}

.btn-inline {
    display: inline-block;
}

a.btn-slide {
    width: 278px;
    height: 63px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    margin-top: 30px;
    padding: 8px 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.btn-promo {
    width: 165px;
    height: 43px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
}

a.btn-promo-chocolate {
    width: 190px;
    margin-left: auto;
}

a.btn-catalog {
    display: none;
    width: 200px;
    height: 43px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 9px 15px;
    color: #ffffff;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.catalog-item:hover a.btn-catalog {
    display: inline-block;
}

.filters legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.filters label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.button-filter {
    margin-top: 20px;
    padding: 8px 27px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.button-filter:hover {
    color: #323232;
    background-color: #ffffff;
}

.button-filter:active {
    padding: 10px 29px;
    background-color: #ededed;
    border: none;
    box-shadow: inset 0 2px 2px #696969;
}

.pagination-list {
    list-style: none;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.pagination-list li {
    margin-left: 2px;
    margin-right: 2px;
}

.pagination-list a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
}

.pagination-item:hover,
.pagination-item:focus {
    background-color: #9bafa3;
    border-radius: 50%;

}

.pagination-list .pagination-item-current {
    color: #323232;
    background-color: #ffffff;
    border-radius: 50%;
}

.pagination-list .arrow-disabled {
    color: rgba(255, 255, 255, 0.2);
}

.line {
    width: 100%;
    height: 1px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 187px;
}

.footer-social a {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
}

.footer-social a:hover,
.footer-social a:active,
.footer-social a:focus {
    color: #e84d37;
}

.social-button svg {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    fill-opacity: 0.5%;
}

.social-button path{
  fill: rgba(255, 255, 255, 0.8);
}

.social-button svg:hover,
.social-button svg:focus {
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button svg:hover path,
.social-button svg:focus path{
    fill: rgba(255, 255, 255, 1);
}

.social-button svg:active {
    border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-navigation {
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 5px;
}

.footer-navigation li {
    width: 130px;
    margin-right: 15px;
}

.footer-navigation a {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    white-space: nowrap;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-navigation a:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 1);
}

.footer-copyright {
    margin-top: 18px;
    margin-bottom: 20px;
    width: 192px;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

.footer-copyright p {
    padding: 0;
    margin: 0;
}

.footer-copyright .academy {
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-copyright .academy:hover,
.footer-copyright .academy:focus {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-copyright .academy:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 1);
}